@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.primary-button{
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    padding: 20px 24px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-item a{
    text-decoration: none;
    color: gray;
}
.navbar,.banner{
    
        max-width: 1140px;
        margin: 0 auto;
    
}
.banner img{
    width: 100%;
}
.banner-contents{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
}
/* responsive media query */

@media screen and (max-width:576px) {
.navbar, .nav-links{
    flex-direction: column;
}    
}